.formulario{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:25px;
}

input,textarea{
padding:10px;
border-radius:8px;
border:none;
background:#2c1a47;
color:white;
}

textarea{
min-height:70px;
resize:none;
}

button{
background:#7c4dff;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}

.tarea-card{
background:#b39ddb;
padding:20px;
border-radius:12px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.fecha{
font-size:13px;
color:#4527a0;
}

.acciones{
display:flex;
justify-content:flex-end;
margin-top:10px;
}
