.usuario{
background:#4b3a64;
padding:12px 20px;
border-radius:12px;
display:flex;
align-items:center;
gap:12px;
cursor:pointer;
transition:0.3s;
}

.usuario:hover{
background:#6d56a0;
}

.usuario img{
width:40px;
height:40px;
border-radius:50%;
}