.usuario{
display:flex;
align-items:center;
gap:10px;
padding:10px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.usuario:hover{
background:#2d1b4e;
}

.usuario.activo{
background:#6c3bd1;
color:white;
}
